---
layout: wallets
title: Bitcoin Wallets
permalink: /wallets/
---

<div class="container centered wallet-index mtb">
    <div class="row">

        <div class="col-lg-12">
			<p class="browse-wallets-info">Bitcoin wallets make payments global, easy, fast, cheap, and secure. More importantly, funds stored in true Bitcoin wallets give you full control of your money. Our comprehensive wallet overviews help you find the Bitcoin wallet to suit your needs.</p>
			
			<h2 class="index-mobile-wallets wallet-index-title"><span>Mobile Wallets</span></h2>
            {% for post in site.categories.mobile %}
                <! -- Blog Post -->
                <div class="wallet-index-wrap">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="wallet-image-index {{ post.wallet }}" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>               
                </div>
            {% endfor %}
            
            <h2 class="index-web-wallets wallet-index-title"><span>Web Wallets</span></h2>
            {% for post in site.categories.web %}
                <! -- Blog Post -->
                <div class="wallet-index-wrap">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="wallet-image-index {{ post.wallet }}" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>               
                </div>
            {% endfor %}
            
            <h2 class="index-desktop-wallets wallet-index-title"><span>Desktop Wallets</span></h2>
            {% for post in site.categories.desktop %}
                <! -- Blog Post -->
                <div class="wallet-index-wrap">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="wallet-image-index {{ post.wallet }}" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>               
                </div>
            {% endfor %}
            
            <h2 class="index-hardware-wallets wallet-index-title"><span>Hardware Wallets</span></h2>
            {% for post in site.categories.hardware %}
                <! -- Blog Post -->
                <div class="wallet-index-wrap">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="wallet-image-index {{ post.wallet }}" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>               
                </div>
            {% endfor %}

        </div><! --/col-lg-12 -->
    </div><! --/row -->
</div><! --/container -->