<div id="footerwrap">
    <div class="container">
        <div class="col-xs-12 col-md-2">    
        	<div class="footer-menu-title">Site</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/about/">About</a></li>
	        		<li><a href="/wallets/">Wallets</a></li>
	        		<li><a href="/kb/">Knowledge Base</a></li>
	        		<li><a href="/blog/">Blog</a></li>
	        	</ul>    	
        </div>
		<div class="col-xs-12 col-md-2">    
        	<div class="footer-menu-title">Contact</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/contact/">Contact</a></li>
	        		<li><a href="/wallets/">Wallets</a></li>
	        		<li><a href="/kb/">Knowledge Base</a></li>
	        		<li><a href="/blog/">Blog</a></li>
	        	</ul>    	
        	<a href="http://twitter.com/nothirdparty/"><i class="fa fa-twitter"></i></a>
        	<a href="https://www.facebook.com/NoThirdParty"><i class="fa fa-facebook-official"></i></a>
        	<a href="https://github.com/NoThirdParty"><i class="fa fa-github"></i></a>
        </div>


        <div class="col-xs-12 col-md-4 centered">
        <a href="/" class="footer-logo"></a>
        <h4 class="footer-logo-header-4">No Third Party</h4>
        <p class="footer-logo-header-5">Take control of your money</p>
        </div>
        <div class="col-xs-12 col-md-4">
        </div>
    </div><! --/container -->
</div><! --/footerwrap -->