<div id="footerwrap">
    <div class="container">
    <div class="row">
    	<div class="col-xs-12 col-md-4 col-sm-12 centered">
        	<a href="/" class="footer-logo"></a>
			<h4 class="footer-logo-header-4">No Third Party</h4>
			<p class="footer-logo-header-5">Take control of your money</p>
        </div>
        <div class="col-xs-6 col-md-2 col-sm-3">    
        	<div class="footer-menu-title">NTP</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/about/">About</a></li>
	        		<li><a href="/wallets/">Wallets</a></li>
	        		<li><a href="/kb/">Knowledge Base</a></li>
	        		<li><a href="/blog/">Blog</a></li>
	        	</ul>    	
        </div>
		<div class="col-xs-6 col-md-2 col-sm-3">    
        	<div class="footer-menu-title">Connect</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/contact/">Contact</a></li>
	        		<li><a href="http://twitter.com/nothirdparty/">Twitter</a></li>
	        		<li><a href="https://www.facebook.com/NoThirdParty">Facebook</a></li>
	        		<li><a href="https://github.com/NoThirdParty">GitHub</a></li>
	        	</ul>   
        </div>
        <div class="col-xs-6 col-md-2 col-sm-3">    
        	<div class="footer-menu-title">Help</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="http://www.coindesk.com/information/what-is-bitcoin/">What is Bitcoin?</a></li>
	        		<li><a href="/blog/why-no-third-party/">Why No Third Party?</a></li>
	        		<li><a href="https://www.buybitcoinworldwide.com/">Buy Bitcoin</a></li>
	        		<li><a href="/">Choose a Wallet</a></li>
	        	</ul>   
        </div>
        <div class="col-xs-6 col-md-2 col-sm-3">    
        	<div class="footer-menu-title">Site</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/editorial-policy/">Editorial Policy</a></li>
	        		<li><a href="/privacy-policy/">Privacy Policy</a></li>
	        		<li><a href="https://github.com/NoThirdParty">Contribute</a></li>
	        		<li><a href="https://github.com/NoThirdParty">Translate</a></li>
	        	</ul>    	
        </div>
    </div>
    <div class="row">
    	
    </div>
    </div><! --/container -->
</div><! --/footerwrap -->