<div id="headerwrap">
    <div class="container centered choose-wallet">
        <h3>Bitcoin is financial freedom.</h3>
    	<div class="subtext-headers">We help you take control of your money. Learn how to secure your funds and protect your privacy.</div>
		<h4>Start using Bitcoin today.</h4>
    	<hr class="normal">
    	<a class="choose-a-wallet" href="/wallets/">BROWSE WALLETS</a>
    	<div class="arrow-down arrow-down-light-blue"></div>
    </div> <!-- /container --> 
</div><!-- /headerwrap -->