---
layout: default
---
<div class="wallet-header-back">
<div class="container mtb wallet-header">
	<div class="row">
	  <div class="col-xs-12 col-lg-10 col-lg-offset-1">
	  <img class="wallet-logo" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}">
	  <h1 class="ctitle"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
	 <div class="wallet-info"> 
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-link fa-lg"></i> <a href="http://greenaddress.it/">GreenAddress.it</a></div>
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-mobile fa-lg"></i> Mobile Wallet</div>
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-github fa-lg"></i> <a href="https://github.com/greenaddress/GreenBits">Open Source</a></div>
	 </div>
	 </div>
	</div>
</div>
</div>
<div class="container wallet-content">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-10 col-lg-offset-1">
            <! -- Blog Post  -->
            <div class="list-group vitals">
			  <span class="list-group-item bg-success" href="#"><i class="fa fa-key fa-fw"></i>&nbsp; <span>User controls private keys</span></span>
			  <a class="list-group-item" href="https://play.google.com/store/apps/details?id=com.greenaddress.greenbits_android_wallet&hl=en"><i class="fa fa-download fa-fw"></i>&nbsp; <span>Download (Android)</span></a>
			  <a class="list-group-item" href="https://github.com/NoThirdParty/nothirdparty.github.io/blob/master/_posts/wallets/2015-07-07-greenbits.markdown"><i class="fa fa-pencil fa-fw"></i>&nbsp; <span>Contribute to this page</span></a>
			</div>

            {{ content }} 
        </div><! --/col-lg-10 -->
    </div><! --/row -->
</div><! --/container -->