---
layout: default
---

<div id="blue">
    <div class="container post">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{% if page.wrap_title %}{{ page.wrap_title }}{% else %}{{ page.title }}{% endif %}</h3>
			<div class="post-desc">{{ page.description }}</div>
        </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container kb entry-content">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-10 col-lg-offset-1">
              {{ content }}
         </div>
        
    </div><! --/row -->
</div><! --/container -->