---
layout: default
---

<div id="blue">
    <div class="container">
        <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h3>{% if page.wrap_title %}{{ page.wrap_title }}{% else %}{{ page.title }}{% endif %}</h3>
            {% if page.desc %}
			<div class="post-desc">{{ page.desc }}</div>
			{% else %}
			{% endif %}
			<p><csmall>by {{ page.author }} on {{ page.date | date: "%b %-d, %Y" }}</csmall></p>
        </div>
        <div class="col-lg-2"></div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
              {{ content }}
         </div><! --/col-lg-8 -->
        <div class="col-lg-2"></div>
        
    </div><! --/row -->
</div><! --/container -->